# =================== 공통 설정 =================== #
# 환경 변수 파일
.env
*.env

# 인증 파일
db-account-key.json
*.pem
*.key

# 로그/캐시 파일
*.log
*.cache
.DS_Store

# ======================== app-server ======================== #
app-server/HELP.md
app-server/.gradle
app-server/build/
!app-server/gradle/wrapper/gradle-wrapper.jar
!app-server/**/src/main/**/build/
!app-server/**/src/test/**/build/

### STS ###
app-server/.apt_generated
app-server/.classpath
app-server/.factorypath
app-server/.project
app-server/.settings
app-server/.springBeans
app-server/.sts4-cache
app-server/bin/
!app-server/**/src/main/**/bin/
!app-server/**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!app-server/**/src/main/**/out/
!app-server/**/src/test/**/out/

### NetBeans ###
app-server/nbproject/private/
app-server/nbbuild/
app-server/dist/
app-server/nbdist/
app-server/.nb-gradle/

# ======================== ai-server ======================== #